node_modules/

# build output
.next/
out/

# OS
.DS_Store

# local env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# wallpapers - keep folder but ignore files
public/wallpaper/*
!public/wallpaper/.keep
.DS_Store
